.charts {
  display: flex;
  width: 100%;
  height: auto;
  justify-content: space-between;
  align-items: center;
  position: relative;
  padding: 50px 30px;
  border: 1px solid #BABCBE;
  background-color: #fff;
  border-radius: 8px;
}
.charts:before {
  position: absolute;
  display: block;
  content: '';
  height: 80%;
  width: 1px;
  background-color: #BABCBE;
  left: 50%;
}
.charts > * {
  flex: 1 1 0;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
  height: 100%;
}
.charts__title {
  color: var(--main-color);
  font-size: 15px;
  font-weight: 700;
}
.charts__first {

}
