.App {
  height: 100vh;
  display: flex;
  flex-direction: column;
}
.main {
  display: flex;
  flex-grow: 1;
  position: relative;
}
.page-content {
  width: 100%;
}
.page-content.menu-opened {
  overflow: hidden;
  height: calc(100vh - 80px);
  position: relative;
}
.page-content.menu-opened:before {
  position: absolute;
  content: '';
  display: block;
  left: 0;
  top: 0;
  height: 100%;
  width: 100%;
  background-color: rgba(0, 0, 0, 0.24);
  z-index: 998;
}
.page {
  background-color: #F4F4F4;
  padding: 20px;
  text-align: center;
  width: 100%;
  height: 100%;
}
.page__title {
  font-size: 25px;
  font-weight: 700;
  text-transform: uppercase;
  color: var(--main-color);
  margin: 0 0 10px;
}
.page__subtitle {
  font-size: 20px;
  color: #767676;
  margin-bottom: 50px;
}
@media (min-width: 1200px) {
  .page {
    flex-grow: 1;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 77px 65px 65px;
    width: auto;
  }
  .page__subtitle {
    width: 50%;
  }
}