.modal {
  display: flex;
  flex-direction: column;
  margin: 20px 10px;
  max-width: 700px;
  background: rgb(255, 255, 255);
  overflow: auto;
  border-radius: 20px;
  outline: none;
  padding-bottom: 43px;
}
.modal__header {
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: var(--main-color);
  color: #ffffff;
  font-size: 20px;
  font-weight: 700;
  height: 65px;
  position: relative;
}
.modal__close {
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  right: 20px;
  color: #fff;
  font-weight: 700;
  font-size: 18px;
}
.modal__body {
  display: flex;
  flex-direction: column;
  flex-grow: 1;
  padding: 14px 14px 0 14px;
}
.modal__footer {
  margin-top: 40px;
  padding: 0 14px;
}
.modal__footer__buttons {
  display: flex;
  justify-content: center;
}
.modal__footer__buttons > * {
  margin-left: 11px;
}
.modal__footer__buttons :first-child {
  margin-left: 0;
}
.modal__info-block {
  display: block;
  margin: 0 auto 14px;
  font-size: 16px;
  padding: 4px 8px;
  color: var(--warning-color);
  border: 1px dashed var(--warning-color);
  border-radius: 6px;
}

@media (min-width: 425px) {
  .modal__body {
    padding: 14px 48px 0 48px;
  }
  .modal__footer {
    padding: 0 48px;
  }
}

@media (min-width: 992px) {
  .modal {
    width: 700px;
    margin: 50px 0;
  }
}