.form {
  display: flex;
  flex-flow: row wrap;
  justify-content: space-between;
}
.form__block {
  display: flex;
  flex-direction: column;
  width: 100%;
  margin-bottom: 10px;
}
.form__block--dropzone {
  margin: 20px 0 0;
}
.form__block-title {
  font-size: 16px;
  font-weight: 700;
  color: var(--main-color);
  line-height: 1em;
  margin: 0 0 10px;
  cursor: default;
}
.form__block-title span {
  margin-left: 5px;
  color: #890000;
  font-size: 18px;
}
.form__block-dropdown {
  height: 50px;
  border: 1px solid var(--main-color);
  padding: 0 23px 0 28px;
  border-radius: 4px;
}
.form__block-input {
  height: 50px;
  border: 1px solid var(--main-color);
  padding-left: 28px;
  border-radius: 4px;
  color: var(--main-color);
  font-size: 16px;
  font-weight: 700;
}
.form__block-input--textarea {
  height: auto;
  resize: none;
  padding: 5px 28px;
  font-size: 14px;
}
.form__block-input::placeholder {
  font-size: 15px;
  color: #BABCBE;
}
.form__divider {
  width: 100%;
  position: relative;
  margin: 20px 0 30px;
}
.form__divider:first-of-type {
  margin-top: 10px;
}
.form__divider-text {
  position: absolute;
  left: 20px;
  top: 50%;
  transform: translateY(-50%);
  font-size: 14px;
  color: var(--secondary-color);
  font-weight: 500;
  padding: 0 6px;
  background-color: #fff;
}
.form__divider:before {
  position: absolute;
  display: block;
  content: '';
  top: 50%;
  left: 0;
  width: 100%;
  height: 1px;
  background-color: var(--main-color);
}

@media (min-width: 768px) {
  .form__block--half {
    width: 48%;
  }
}