.navbar {
  position: absolute;
  display: flex;
  width: 298px;
  min-width: 298px;
  height: calc(100vh - 80px);
  overflow-y: auto;
  flex-direction: column;
  background: var(--main-color) url("../../assets/images/navbar_bg.svg");
  background-size: cover;
  padding: 20px 0;
  top: 0;
  left: -100%;
  z-index: 998;
  transition: all .5s ease;
}
.navbar.open {
  left: 0;
}
.navbar__header {
  color: #fff;
  margin: 0 0 32px;
  text-transform: uppercase;
  text-align: center;
  font-weight: 300;
  font-size: 20px;
}
.navbar__list {
  list-style: none;
  margin: 0;
  padding: 0;
  flex-grow: 1;
}
.navbar__powered {
  color: #fff;
  text-align: center;
}
.navbar__powered h4 {
  font-size: 10px;
  font-weight: 600;
}
.navbar__powered img {
  filter: brightness(0) invert(1);
}

@media (min-width: 768px) {
  .navbar {
    position: static;
    height: auto;
    width: 198px;
    min-width: 198px;
  }
}
@media (min-width: 1400px) {
  .navbar {
    width: 298px;
    min-width: 298px;
    padding: 56px 0 48px;
  }
}